<!--CONTACT-->
<section class="contact" id="contact">
	<h1 class="title">contact us</h1>
	<div class="areas">
			<form method="post" enctype="multipart/form-data">
					<input type="text" name="email" class="email" placeholder="e-mail"><br><br>
					<input type="text" name="objet" class="objet" placeholder="object"><br><br>
					<textarea class="mail" name="content" placeholder="content"></textarea><br><br>
					<input type="submit" name="send" class="submit" value="send">
			</form>
			<p>un voyage ? un hotel ? trivago !</p>
	</div>
</section>

