   <!--FOOTER-->
        <footer>
            <div class="ending">
                <div class="legallinks">
                    <a href="">Mentions Légales</a><br>
                    <a href="">C.G.U</a><br>
                    <a href="">Contact</a><br>
                    <a href="">About Us</a><br>
                </div>
                <div class="sociallinks">
                    <a href=""><img src="assets/fb.png"></a>
                    <a href=""><img src="assets/ig.png"></a>
                    <a href=""><img src="assets/yt.png"></a>
                </div>
                <div class="contactlinks">
                    <p>SIGMA TEAM</p>
                    <p>Polytech Annecy</p>
                </div>
            </div>
        </footer>
    </body>
