        <!--ONGOING wtf is that php modCheck-->
        <section class="ongoing">
            <h1 class="title">On Going Tournaments</h1>
            <div class="tournaments">
                <a class="link" href="">
                    <div class="tournament">
                        <span class="name-"><p class="title-cat">name</p><h1>Chess Tournament</h1></span>
                        <span class="descr"><p class="title-cat">description</p><h1>Chess Tournament. MIN ELO : 1800</h1></span>
                        <span class="end"><p class="title-cat">end</p><h1>Sam 18 May.</h1></span>
                    </div>
                </a>
                <a href="">
                    <div class="tournament">
                        <span class="name-"><p class="title-cat">name</p><h1>Poker Tournament</h1></span>
                        <span class="descr"><p class="title-cat">description</p><h1> 8 Tables. 15,000$ Cash Prize.</h1></span>
                        <span class="end"><p class="title-cat">end</p><h1>Sam 18 May.</h1></span>
                    </div>
                </a>
                <a href="">
                    <div class="tournament">
                        <span class="name-"><p class="title-cat">name</p><h1>Tennis Tournament</h1></span>
                        <span class="descr"><p class="title-cat">description</p><h1>Tennis Tournament. 16 Players.</h1></span>
                        <span class="end"><p class="title-cat">end</p><h1>Sam 18 May.</h1></span>
                    </div>
                </a>
            </div>
        </section>

        <!--SEPARATION-->
        <section class="sep"></section>

        <!--CONTACT-->
        <section class="contact" id="contact">
            <h1 class="title">Contact Us</h1>
            <div class="areas">
                <form method="POST" enctype="multipart/form-data">
                    <input type="text" name="email" class="email" placeholder="E-MAIL"><br><br>
                    <input type="text" name="objet" class="objet" placeholder="Object"><br><br>
                    <textarea class="mail" name="content" placeholder="Content"></textarea><br><br>
                    <input type="submit" name="send" class="submit" value="Send">
                </form>
                <p>Un voyage ? Un Hotel ? Trivago !</p>
            </div>
        </section>

        <!--FOOTER-->
    </body>
</html>
