       
        <!--BIG TITLE-->
        <h1 class="big-title">Register Your Team</h1><br><br>

        <!--FORM-->
        <section class="form">
            <table class="prez">
                <thead>
                    <tr>
                        <th>Tournament Name</th>
                        <th>Tournament Description</th>
                        <th>End inscription date</th>
                        <th>Register</th>        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NewTournament</td>
                        <td>Ma super description de la mort qui tue</td>
                        <td>2022-07-14</td>
                        <td><a href="index.php?page=inscription&amp;competid=9&amp;competName=NewTournament&amp;endInscription=2022-07-14"> Register </a></td>
                    </tr>
                    <tr>
                        <td>CompetX</td>
                        <td>Super Description</td>
                        <td>2022-06-03</td>
                        <td><a href="index.php?page=inscription&amp;competid=8&amp;competName=CompetX&amp;endInscription=2022-06-03"> Register </a></td>
                    </tr>
                </tbody>
            </table>
            <form action="" method="post" class="formform">
                <div class="descript">
                    <span>Current Team :</span><br>
                    <textarea name="team" id="description"></textarea>
                </div>
                <div class="descript">
                    <span>Tournament :</span><br>
                    <textarea name="tournament" id="description"></textarea>
                </div>
                <input id="submit" type="submit" value="Add">
            </form>
        </section>
