*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;    
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0 2rem;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: black;
}
.container button{
    border: none;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 1rem;
}
.bars{
    display: none;
    position: relative;
    height: 4px; width: 36px;
    background-color: black;
}
.bars::before, .bars::after{
    display: none;
    position: absolute;
    height: 4px; width: 36px;
    content: "";
    background-color: black;
}
.bars::before{
    top: 10px;
}
.bars::after{
    top: -10px;
}
nav label{
    display: none;
}
#toggle{
    display: none;
}
.banner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tagline{
    display: block;
    padding: 10rem 0;
}
.tagline h1{
    text-align: center;
    padding: 0 16rem 8rem 16rem;
    font-size: 6rem;
    text-transform: capitalize;
    color: white;
}
.tagline button {
    padding: 1rem 2rem;
    color: black;
    font-size: 1.5rem;
    letter-spacing: 2px;
    background-color: transparent;
    border: 4px solid black;
    border-radius: 40px;
    text-transform: uppercase;
}
.ongoing{
    background-color: #fefefe;
}
.title{
    text-align: center;
    text-transform: capitalize;
    padding: 3rem 0 1rem 0;
}
.container{
    display: flex;
    flex-direction: column;
}
.container a{
    padding: 2rem 10rem;
    cursor: crosshair;
    text-decoration: none;
}
.tournament{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 30px;
    background: #fbfbfb;
    box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
.title-cat{
    padding: 0.5rem 0;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FF7D33;
}
.name, .end{
    text-transform: capitalize;
    color: black;
}
.descr{
    color: black;
}

@media screen and (max-width: 1000px){
    .tagline button {   
        padding: 2vw 4vw;
        font-size: 4vw;
        border: 0.75vw solid black;
    }
    .tagline h1{
        font-size: 8vw;
        padding: 0 15vw 7vw 15vw;
    }
    .tagline{
        padding: 5vw 0 9vw 0;
    }
    nav{
        display: block;
    }
    nav ul{
        display: none;
        text-align: center;
        padding: 1rem;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .container button{
        display: none;
        text-align: center;
    }
    nav ul li{
        display: block;
        padding: 0.5rem;
    }
    #toggle:checked ~ ul{
        display: block;
    }
    #toggle:checked ~ .container button{
        display: block;
    }
    .bars::before, .bars::after, .bars{
        display: inline-block;
    }
    nav label{
        display: block;
        position: absolute;
        right: 30px; top: 34px;
    }
}