        <!--CARD-->
        <section class="vignette">
            <div class="card">
                <span>Want To Play ?</span>
                <div class="link">
                    <p class="card_author">Create<a href="create_competition.html" class="author_link"> A Tournament</a></p>
                </div>
            </div>
            <div class="card">
                <span>Ready ?</span>
                <div class="link">
                    <p class="card_author">Register<a href="signin_team.html" class="author_link"> Your Team</a></p>
                </div>
            </div>
        </section>
